build
charisma.pc
charisma
Makefile
Makefile.in
autom4te*
aclocal.m4
config
config.h.in
configure
configure~
config.h
config.h.in~
config.log
config.status
libtool
stamp-h1
.dirstamp
.deps
.libs
*.tar.gz
*.gz
*.la
*.o
*.lo
